In [8]:
import pandas as pd
import itertools # only need this to generate some fake data

print 'Pandas version: {}'.format(pd.__version__)

def expand_grid(data_dict):
    rows = itertools.product(*data_dict.values())
    return pd.DataFrame.from_records(rows, columns=data_dict.keys())

df = expand_grid(
       {'height': [60, 70],
        'weight': [100, 140, 180],
        'sex': ['Male', 'Female']})
print 'df before'
df

Pandas version: 0.15.2
df before

       sex  weight  height
0     Male     100      60
1     Male     100      70
2     Male     140      60
3     Male     140      70
4     Male     180      60
5     Male     180      70
6   Female     100      60
7   Female     100      70
8   Female     140      60
9   Female     140      70
10  Female     180      60
11  Female     180      70

In [7]:
df['new column'] = 0
inds = (df['sex'] == 'Male') & \
       (df['height'] == 70)
df.loc[inds,'new column'] = df.loc[inds,'height']
print 'df after'
df

df after

       sex  weight  height  new column
0     Male     100      60           0
1     Male     100      70          70
2     Male     140      60           0
3     Male     140      70          70
4     Male     180      60           0
5     Male     180      70          70
6   Female     100      60           0
7   Female     100      70           0
8   Female     140      60           0
9   Female     140      70           0
10  Female     180      60           0
11  Female     180      70           0